body,
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SF Pro Display;
  src: url(../master/SFPRODISPLAYREGULAR.OTF);
}

#mainpage {
  display: flex;
  flex-wrap: wrap;
  background: url("./images/3d\ +\ wall.png") top right no-repeat;
}

#nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 64px 72px 0px 72px;
}

#logo-mainpage {
  position: relative;
  width: 159px;
  height: 40px;
}

#menu-mainpage {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 392px;
  height: 100%;
  margin: 0px;
  background-color: #ededed;
  list-style: none;
  float: left;
  width: 392px;
  height: 24px;
  top: 84px;
  left: 524px;
}

#menu-mainpage ul li {
  display: inline;
}

#menu-mainpage ul li a {
  padding: 2px 10px;
  color: #8b8b8b;
  text-align: center;
  text-decoration: none;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: #ededed;
}

#firstbutton-mainpage {
  position: relative;
  width: 130px;
  height: 32px;
  padding: 8px;
  left: 50%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #232340;
  border-radius: 8px;
}

#textbutton1 {
  position: relative;
  height: 24px;
  left: 15%;
  right: 50%;
  top: calc(50% - 24px / 2);
  font-family: "SF Pro Display";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

#burguer-icon{
  display: none;
}

#hero-container {
  display: flex;
  justify-content: space-between;
  padding: 110px 135px 278px;
  width: 100%;
}

#text-mainpage {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

#title-mainpage {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  color: #232340;
  letter-spacing: 1.5px;
  width: 467px;
}

#paragraph-mainpage {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  width: 367px;
  color: #606060;
}

#secondbutton-mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 180px;
  height: 64px;
  background: #5468e7;
  border-radius: 8px;
}

@media screen and (max-width: 375px) {
  #mainpage {
    background: url("./images/IMG.png") top right no-repeat;
  }
  #nav-bar {
    margin: 52px 32px 0;
  }
  #menu-mainpage {
    display: none;
  }
  #logo-mainpage {
    width: 128px;
    height: 32px;
  }
  #firstbutton-mainpage {
    display: none;
  }

  #burguer-icon {
    display: block;
  }

  #hero-container {
    padding: 50px 32px 392px;
  }
  #text-mainpage {
    gap: 24px;
  }
  #title-mainpage {
    font-size: 48px;
    line-height: 56px;
    width: 100%;
  }
  #paragraph-mainpage {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
  }
  #secondbutton-mainpage {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    width: 160px;
    height: 56px;
  }
}
