#fourth-page {
  padding: 152px 135px 56px;
}

#header-fourthpage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 94px;
}

#header-fourthpage > .logo-symbol {
  display: flex;
  align-self: flex-start;
}

#header-fourthtitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#fourth-title1 {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  gap: 12px;
  color: #5468e7;
}

#fourth-title2 {
  display: flex;
  font-weight: 700;
  font-size: 84px;
  line-height: 72px;
  letter-spacing: -0.5px;
  width: 668px;
  color: #232340;
  width: 668px;
}

#header-fourthtitle > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #606060;
  width: 467px;
  padding-top: 25px;
}

#firstbutton-fourthpage {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 166px;
  height: 64px;
  background: #5468e7;
  border-radius: 8px;
  margin-top: 60px;
}

#content-fourthpage {
}

#card1-mobile {
  display: none;
}

#section-card1 {
  background: url(./images/section-card1.png) center no-repeat;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#feature-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  width: 166px;
  height: 40px;
  background: #908cff;
  border-radius: 20px;
  text-decoration: none;
}

#section-card1 > h1 {
  width: 400px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.4px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 32px;
}

#section-card1 > p {
  width: 205px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #606060;
}

#view-button {
  display: flex;
  position: absolute;
  right: 65.5%;
  bottom: 6%;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #232340;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

#section-card1 > .arrow-right {
  position: absolute;
  right: 14%;
}

@media screen and (max-width: 375px) {

  #fourth-page {
    padding: 64px 32px 48px;
  }

  #header-fourthpage > .logo-symbol {
    display: none;
  }

  #header-fourthpage > a {
    display: none;
  }

  #view-button {
    display: none;
  }

  #section-card1 > .arrow-right {
    display: none;
  }

  #section-card1 {
    background-image: none;
  }

  #card1-mobile {
    background: url(./images/section-card1-mobile.png) #ffba79 center no-repeat;
    display: flex;
    height: 500px;
    width: 100%;
    border-radius: 17px;
  }

  #fourth-title1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }

  #fourth-title2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    width: 255px;
  }

  #header-fourthtitle > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 311px;
  }

  #feature-button {
    width: 118px;
    height: 28px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 10.2px;
    line-height: 13px;
    position: absolute; 
    right: 55%; 
    bottom: 36.4%;
  }

  #section-card1 > h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #232340;
    width: 312px;
  }

  #section-card1 > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #606060;
    width: 228px;
  }
}
