@import "styles-second-page.css";

@font-face {
  font-family: SF Pro Display;
  src: url(../master/SFPRODISPLAYREGULAR.OTF);
}

body,
* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
  font-style: normal;
}

#mainpage {
  display: flex;
  flex-wrap: wrap;
  background: url("./images/firstpage-desktop.png") top right no-repeat;
}

#nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 64px 72px 0px 72px;
}

#logo-mainpage {
  width: 159px;
  height: 40px;
}

#menu-mainpage {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 392px;
  height: 100%;
  margin: 0px;
}

#menu-mainpage > li {
  display: inline;
}

#menu-mainpage > li:first-child > a {
  color: #5468e7;
}
#menu-mainpage > li > a {
  padding: 2px 10px;
  color: #8b8b8b;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

#menu-mainpage > li:last-child > a::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #3a8fff 0%, #0837ae 100%);
  border-radius: 50%;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  content: "2";
  top: 75px;
  right: 505px;
  color: #ffffff;
}

#firstbutton-mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 180px;
  height: 64px;
  background: #232340;
  border-radius: 8px;

  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

#burguer-icon {
  display: none;
}

#hero-container {
  display: flex;
  justify-content: space-between;
  padding: 110px 135px 278px;
  width: 100%;
}

#text-mainpage {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

#title-mainpage {
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  color: #232340;
  letter-spacing: 1.5px;
  width: 467px;
}

#paragraph-mainpage {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  width: 367px;
  color: #606060;
}

#secondbutton-mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 180px;
  height: 64px;
  background: #5468e7;
  border-radius: 8px;
}

@media screen and (max-width: 375px) {
  #mainpage {
    background: url("./images/firstpage-mobile.png") top right no-repeat;
  }
  #nav-bar {
    margin: 52px 32px 0;
  }
  #menu-mainpage {
    display: none;
  }
  #logo-mainpage {
    width: 128px;
    height: 32px;
  }
  #firstbutton-mainpage {
    display: none;
  }

  #burguer-icon {
    display: block;
  }

  #hero-container {
    padding: 50px 32px 392px;
  }
  #text-mainpage {
    gap: 24px;
  }
  #title-mainpage {
    font-size: 48px;
    line-height: 56px;
    width: 100%;
  }
  #paragraph-mainpage {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
  }
  #secondbutton-mainpage {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    width: 160px;
    height: 56px;
  }
}

